body{
    color: aliceblue;
    background-image: url('../public/images/cardpfp/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    padding: 50px;
}

ul{
    list-style-type: none;
    display:flex;
    justify-content: end;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; 
}

li a{
    text-decoration: none;
    border: solid;
    display: block;
    color: aliceblue;
    padding: 8px 16px;
}

li a:hover{
    background-color: white;
    color: black;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: solid;
    border-radius: 100px;
    border-color: white;
}
input, textarea{
    background-color: black;
    color: aliceblue;
}

#message{
    display: block;
    text-align: center;
}


@media(max-width: 768px){
    .nav{
        font-size: 7px;
    }
    h1{
        font-size: 20px;
    }
    footer{
        margin-top: 100px;
        font-size: 10px;
    }
}
