body{
    display: flex;
    flex-direction: column;
    background-image: url('../public/images/cardpfp/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}
ul{
    list-style-type: none;
    display:flex;
    justify-content: end;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; 
}

li a{
    text-decoration: none;
    border: solid;
    display: block;
    color: aliceblue;
    padding: 8px 16px;
}

li a:hover{
    background-color: black;
    color: white;
}

header{
    padding: 50px;
}
main{
    padding: 100px;
}

#myInfo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

@media(max-width: 768px){
    .nav{
        font-size: 7px;
    }
    h1{
        font-size: 20px;
    }
    p{
        padding: 5px;
        font-size: 10px;
    }
    footer{
        font-size: 10px;
    }
}
